.Setting-div {
    /* background: #6e2a2a; */
    display: flex;
    width: 100%;

    padding: 5px;
    overflow: hidden;
}

.Setting-nav {
    padding: 0 5px;
    display: flex;
    gap: 1vw;
    flex-direction: column;
    width: calc(100% - 88%);
}

.Setting-nav .themes,
.Wallpapers,
.Tab-style {
    padding: 0.5vw 1vw;
    cursor: pointer;
    background: #63626262;
    border-radius: 5px;
}

.span-color {
    background: #616161 !important;
}


.Setting-body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: #696969b0;
    width: 100%;
    height: 80vh;
    overflow: auto !important;

}


.Themes-div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.theme-image {
    height: 13vw;
    border-radius: 10px;
}

.default-div,
.dark-div,
.light-div,
.darkblue-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.Themes-btn {
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background:#929292;
    color: #ecfffc;
    font-size: 14px;
}

.wallpaper-image {
    height: 20vh;
    border-radius: 10px;
    overflow: hidden !important;
}

.wallpaper-images {
    display: flex;
    flex-wrap: wrap;
}

.wallpaper-images-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}